body {
  background-color: rgb(233, 245, 255);
}

h1 {
  text-align: center;
  font-size: 40.5px;
}

h2 {
  text-align: center;
  font-size: 16px;
}

small {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.container {
  padding: 32px;
  max-width: 800px;
}

.temperature {
  position: relative;
  font-size: 40px;
  float: left;
  left: 140px;
  top: 37px;
  margin: 18px;
}

.units a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.weather {
  position: relative;
  margin: 15px;
  width: 30%;
  top: 40px;
  right: 30px;
  float: right;
}

.row {
  position: relative;
  text-align: center;
}

.search {
  text-align: center;
  display: block;
  margin: 0;
}
.enter {
  border-radius: 10px;
  padding: 1px 30px;
  text-align: center;
}

.button {
  background-color: transparent;
  border-radius: 10px;
  padding: 2px 20px;
  box-shadow: 1px 1px;
}

.currentLocation {
  background-color: transparent;
  border-radius: 10px;
  padding: 2px 20px;
  box-shadow: 1px 1px;
}

.fa-cloud-sun {
  font-size: 30px;
}

.fa-cloud {
  font-size: 30px;
}
